# =====================
# ENVIRONMENT VARIABLES
# =====================
.env
.env.*
*.env

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =====================
# NODE / REACT / VITE
# =====================
node_modules/
dist/
build/

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# LOGS
# =====================
*.log
